version: '3'

services:
  lab:
    build: ./
    image: covid19_indicators
    container_name: covid19_indicators
    volumes:
     - ./:/app
    ports:
      - "8888:8888"
    environment:
      - JUPYTER_ENABLE_LAB=1
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}
      - GITHUB_TOKEN=${GITHUB_TOKEN:?Missing GitHub Token}
    command: "jupyter-lab --no-browser --ip=\"*\" --allow-root --port=8888 --NotebookApp.notebook_dir=/app --NotebookApp.terminado_settings='{\"shell_command\": [\"bash\"]}' --LabApp.token=\"\" --LabApp.password=\"\""
