apache-beam[gcp]==2.40.0
pyproj
affine
aiohttp
aiosignal
altair
altair-data-server
altair-saver
altair-viewer
ansiwrap
appdirs
arcgis
argon2-cffi
arrow
asn1crypto
async-generator
asynctest
async-timeout
atpublic
awscli
backcall
binaryornot
binascii
black
bleach
bokeh
boto3
botocore
branca
cbor2
cchardet
census
CensusData
census-data-aggregator
census-data-downloader
cffi
chardet
cligj
colorama
colour
contextily
cookiecutter
cryptography
cx-Oracle
cycler
cytoolz
dask
decorator
defusedxml
descartes
distributed
docutils
entrypoints
et-xmlfile
fastparquet
Fiona
flake8
folium
frozenlist
fsspec
gcsfs
GeoAlchemy2
geocoder
geographiclib
geojson
gitdb2
GitPython
google-cloud-storage
graphviz
HeapDict
html5lib
ibis
ibis-bigquery
ibis-framework
iniconfig
intake
intake-civis
intake-dcat
intake-parquet
intake-sql
isort
isoweek
jdcal
jedi
jeepney
jellyfish
Jinja2
jinja2-time
jmespath
json5
jsonref
jsonschema
keyring
kiwisolver
kmodes
lerc
llvmlite
locket
lxml
mapboxgl
markov-clustering
MarkupSafe
matplotlib
mccabe
mercantile
mistune
msgpack
multidict
multipledispatch
munch
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook-as-pdf
ntlm-auth
numba
olefile
osmnx
OWSLib
pandocfilters
papermill
parso
parsy
partd
partridge
pathspec
patsy
pexpect
pickleshare
polyline
portpicker
poyo
probableparsing
prometheus-client
prompt-toolkit
psutil
psycopg2-binary
ptyprocess
pubnub
Pygments
PyPDF2
PyQt5
PyQt5-sip
PyQtChart
PyQtWebEngine
PySocks
rasterio
ratelim
Rtree
s3fs
s3transfer
SecretStorage
selenium
Send2Trash
sendgrid
Shapely
simplegeneric
smmap
smmap2
snuggs
sortedcontainers
SQLAlchemy
sqlalchemy-redshift
starkbank-ecdsa
statsmodels
tableauserverclient
tblib
tenacity
terminado
testpath
text-unidecode
textwrap3
thrift
toml
toolz
tornado
traitlets
traittypes
typed-ast
us
usaddress
voila
webencodings
websockets
widgetsnbextension
xlrd
XlsxWriter
yarl
zict
